@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

:root {
    --main-color: #007bff;
    --second-color: #00bbff;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    color: #222;
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
}

main {
    background-color: #fbfbfb;
}

a {
    text-decoration: none;
}

nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    z-index: 1;
}

nav ul {
    list-style-type: none;
    text-align: right;
    padding: 0 2%;
}

nav ul li {
    display: inline-block;
    cursor: pointer; 
    margin: 0 1%;
    font-weight: bold;
    position: relative;
    color: #444;
}

nav ul li:hover {
    color: #444;
}

nav ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: 0.2s ease-in-out 0s;
    -o-transition: 0.2s ease-in-out 0s;
    transition: 0.2s ease-in-out 0s;
}

nav ul li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}

@media screen and (max-width: 500px) {
    nav {
        visibility: hidden;
    }

    body > header {
        padding: 90px 0;
    }
}

header {
    background: #fff url(../img/bg.png) top center repeat;
    text-align: center;
    padding: 150px 0 90px 0;
    font-size: 2.5rem;
}

.welcome {
    font-size: 6rem;
    font-weight: bold;
    color: var(--main-color);
}

.media {
    padding: 0;
    margin: 15px;
}

.media > li {
    display: inline-block;
    cursor: pointer;
    margin: 0 1%;
    font-weight: bold;
}

.about, .skills, .contact {
    width: 85%;
    margin: auto;
}

section {
    padding: 30px 0;
}

section > h2 {
    margin-left: 20px;
}

.buttons {
    text-align: center;
    padding: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
}

.buttons > * {
    background-image: -o-linear-gradient(left, var(--main-color) 0%, var(--second-color) 51%, var(--main-color) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(var(--main-color)), color-stop(51%, var(--second-color)), to(var(--main-color)));
    background-image: linear-gradient(to right, var(--main-color) 0%, var(--second-color) 51%, var(--main-color) 100%);
    background-position: left center;
    border-radius: 15px;
    color: #ffffff;
    padding: 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
    font-weight: 600;
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin: 1rem 20px;
}

.buttons > *:hover {
    background-position: right center;
}

.content {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 50px -30px rgba(0,0,0,0.75);
            box-shadow: 0px 5px 50px -30px rgba(0,0,0,0.75);
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.data {
    font-weight: 600;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-right: 2px dotted var(--main-color);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
}

.data > * {
    margin: 0 10px;
    padding: 20px;
}

.data ul li {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 5px 1fr;
    grid-template-columns: auto 1fr;
    line-height: 1.3;
    padding: 5px;
    grid-gap: 5px;
}

@media screen and (max-width: 600px) {
    .data > * {
        margin: 0;
        padding: 20px 0;
    }
    
    .data ul li {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        text-align: center;
        grid-gap: 0;
        word-break: break-all;
        padding: 5px 0;
    }
}

.photo {
    background-image: url(../img/me.png);
    background-size: cover;
    min-width: 130px;
    min-height: 130px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
            box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    border-radius: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.data > ul {
    list-style-type: none;
    line-height: 2.5;
}

.detail {
    color: var(--main-color);
    font-weight: 600;
}

.description {
    padding: 30px;
    text-align: justify;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 400px;
}

@media screen and (max-width: 1211px) {
    .data {
        border-right: 0;
        border-bottom: 2px dotted var(--main-color);
    }
}

@media screen and (max-width: 600px) {
    .description {
        min-width: unset;
        padding: 25px 15px 15px 15px;
    }
}

.content > .skills_frame {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 20px;
    line-height: 2;
    text-align: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.skills_frame > img {
    margin: 20px 0;
    height: 100px;
}

.back {
    border-right: 2px dotted var(--main-color);
}

@media screen and (max-width: 545px) {
    .back {
        border-right: 0;
        border-bottom: 2px dotted var(--main-color);
    }
}

.portfolio_header {
    margin-left: calc(7.5% + 20px);
}

.portfolio {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio > div {
    height: 400px;
    padding: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, 
                    left top, left bottom, 
                    from(rgba(0, 0, 0, 0.6)), 
                    to(rgba(0, 123, 255, 0.6)));
    background-image: -o-linear-gradient(top, 
                    rgba(0, 0, 0, 0.6), 
                    rgba(0, 123, 255, 0.6));
    background-image: linear-gradient(to bottom, 
                    rgba(0, 0, 0, 0.6), 
                    rgba(0, 123, 255, 0.6));
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    color: white;
    padding: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.portfolio > div:hover .overlay {
    opacity: 1;
}

.codewars {
    background-image: url(../img/codewars.png);
}

.dignclick {
    background-image: url(../img/dignclick.jpg);
}

.portfolio_webpage {
    background-image: url(../img/portfolio_webpage.png);
}

.overlay_button {
    background-image: -o-linear-gradient(left, var(--main-color) 0%, var(--second-color) 51%, var(--main-color) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(var(--main-color)), color-stop(51%, var(--second-color)), to(var(--main-color)));
    background-image: linear-gradient(to right, var(--main-color) 0%, var(--second-color) 51%, var(--main-color) 100%);
    background-position: left center;
    border-radius: 15px;
    color: #ffffff;
    padding: 20px;
    text-decoration: none;
    font-weight: 600;
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    bottom: calc(20px + 2rem);
    left: 20px;
    right: 20px;
    text-align: center;
}

.overlay_button:hover {
    background-position: right center;
}

.contact {
    padding-bottom: 100px;
}

.content_contact {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 50px -30px rgba(0,0,0,0.75);
            box-shadow: 0px 5px 50px -30px rgba(0,0,0,0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.content_contact > * {
    padding: 40px;
}

.contact_info {
    background-color: var(--main-color);
    color: white;
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 400px;
}

@media screen and (max-width: 1200px) {
    .contact_info {
        width: 100%;
    }
}

.contact_info > p {
    width: 75%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.contact_info > img, .contact_bottominfo > .media {
    -webkit-filter: invert(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
            filter: invert(100%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.contact_bottominfo {
    padding-top: 30px;
}

.contact_bottominfo > .media {
    margin: 0 0 0 -1%;
}

.contact_form {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.contact_form > h2 {
    margin-top: 0;
}

.contact_form input, .form_message {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 15px;
    background-color: #fbfbfb;
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: none;
}

.contact_form input:focus, .form_message:focus {
    background-color: #f0f0f0;
}

.form_message {
    height: 100px;
    resize: none;
    overflow: auto;
}

.form_button {
    background-image: -o-linear-gradient(left, var(--main-color) 0%, var(--second-color) 51%, var(--main-color) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(var(--main-color)), color-stop(51%, var(--second-color)), to(var(--main-color)));
    background-image: linear-gradient(to right, var(--main-color) 0%, var(--second-color) 51%, var(--main-color) 100%);
    background-position: left center;
    border-radius: 15px;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600;
    background-size: 200% auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    float: right;
    cursor: pointer;
    border: 0;
    outline: none;
}

.form_button:hover {
    background-position: right center;
}

footer {
    width: 100%;
    padding: 1em 0;
    height: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    background-color: #fff;
}