@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7rem;
    color: #222;
    width: 100%;
    height: 100%;
}

nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
}

nav ul {
    list-style-type: none;
    text-align: right;
    padding: 0 2%;
}

nav ul li {
    display: inline-block;
    cursor: pointer; 
    margin: 0 1%;
    font-weight: bold;
    position: relative;
    color: #444;
}

nav ul li:hover {
    color: #444;
}

nav ul li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
        transform: scaleX(0);
    transition: 0.2s ease-in-out 0s;
    -webkit-transition: 0.2s ease-in-out 0s;
    -moz-transition: 0.2s ease-in-out 0s;
    -ms-transition: 0.2s ease-in-out 0s;
    -o-transition: 0.2s ease-in-out 0s;
}

nav ul li:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

header {
    background: #fff url(../img/bg.png) top center repeat fixed;
    text-align: center;
    padding: 150px 0 90px 0;
    font-size: 2.5rem;
}

.welcome {
    font-size: 8rem;
    font-weight: bold;
    color: #007bff;
}

.media {
    padding: 0;
    margin: 15px;
}

.media > li {
    display: inline-block;
    cursor: pointer;
    margin: 0 1%;
    font-weight: bold;
}

section {
    width: 70%;
    margin: auto;
}

.buttons {
    text-align: center;
    padding: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.buttons > * {
    background-image: linear-gradient(to right, #007bff 0%, #00bbff 51%, #007bff 100%);
    background-position: left center;
    border-radius: 15px;
    color: #ffffff;
    padding: 20px;
    margin: 0 20px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    flex-basis: 200px;
    font-weight: 600;
    background-size: 200% auto;
    transition: 0.25s ease-in;
    margin: 1rem 0;
}

.buttons > *:hover {
    background-position: right center;
}

footer {
    width: 100%;
    padding: 1em 0;
    text-align: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    box-shadow: 0px 0px 5px 0px rgba(176,176,176,0.5);
    background-color: #fff;
}